.git
.gitignore
.env
.env.example
*.pyc
__pycache__
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.tox/
.mypy_cache/
.pytest_cache/
node_modules/
*.md
*.log
staticfiles/
media/
logs/
.idea/
.vscode/
docker-compose*.yml
setup.md
